@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}
body{
    background-color: black;
    height: 100vh;
    background-image: linear-gradient(to right, #01022de5 30%, #00000088), url(img/avatar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
a{
    color: #fff;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    align-items: center;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
}
ul li{
    list-style: none;
}
ul li a{
    font-size: 18px;
}
ul li a:hover{
    border-bottom: solid 2px #fff;
}
body:hover{
    background-image: linear-gradient(to right, #01022de5 30%, transparent), url(img/avatar.jpg);
}
.logo{
    font-size: 30px;
}
.midel-contenet{
    color: #fff;
    margin-top: 10%;
    padding: 30px;
    
}
.midel-contenet h1{
    font-size: 80px;
    text-transform: uppercase;
}
.midel-contenet p{
    width: 500px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.midel-contenet button{
    padding: 15px;
    width: 150px;
    font-weight: 600;
    background-color: #255d96;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
}
.midel-contenet button:hover{
    background-color: #01022de5;
    border: solid 1px #fff;
}